/* Ecran moyen */
@media only screen and (min-width: 980px) {

  body {
    background: #fff;
  }
  //--- Navigation ---
  .navigation {
    height: 100%;
    width: $w-navigation;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(#000,0.35);
    //border-right: 1px solid rgba(#fff,0.15);
    box-shadow: 0 0 20px rgba(#000,0.3);
  }

  .background {
      width:50%;
      height:100%;
      background: #eee;
      background-image: $background;
      background-repeat: no-repeat;
      background-size: cover;
      margin:0;
      padding:0;
      top: 0;
      bottom: 0;
      left: 0;
      z-index:2;
      position:fixed;
  }

  .bluredBackground {
      width:100%;
      height:100%;
      display:block;
      background-image: $background;
      background-size: cover;
      z-index:1;
      position:absolute;
      top:0;
      left:0;
      padding-left:20%;
      padding-top:20%;
      -webkit-filter: blur(6px);
  }
  .mask {
      width: $w-navigation;
      height: 100%;
      border: none;
      border-radius:5px;
      position: fixed;
      top: 0;
      left: 0;
      z-index:10;
      overflow:hidden;
  }

  .navigation-logo {
    width: 100%;
    display: block;
    img {
      margin: 30px auto 30px;
      display: block;
      width: 90px;
      height: auto;
    }
    &:after {
      content: '';
      height: 1px;
      background: rgba(#fff,0.1);
      width: 20%;
      margin: 0 auto 30px;
      display: block;
    }
  }

  .navigation-mainmenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .navigation-mainmenu-item {
    line-height: 42px;
    & a {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      color: #ccc;
      transition: all 0.35s ease-in-out;
      &:hover {
        background: rgba(#000,0.4);
        color: #fff;
        &:before {
          left: 10px;
          transition: all 0.25s cubic-bezier(0.53, 0.02, 0.76, 1.21);
        }
      }
      &:before {
        font-family: "glucide";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        border-radius: 50%;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 24px;
        height: 24px;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 24px;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: -40px;
        top: 50%;
        margin-top: -12px;
        color: darken(#eee, 25);
        background: rgba(#000,0.2);
      }
    }
  }

  .navigation-user {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#000,0.4);
    height: 40px;
    .avatar-img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid darken(#000, 10%);
    }
  }
  .navigation-user-gravatar, .navigation-user-profil, .navigation-user-diconnect, .navigation-user-meals {
    width: 25%;
    padding: 5px;
    margin: 0;
    text-align: center;
    float: left;
    a {
      color: #888;
      text-decoration: none;
      font-size: 20px;
      line-height: 30px;
      display: block;
      transition: all 0.25s cubic-bezier(0.53, 0.02, 0.76, 1.21);
      &:hover {
        color: #eee;
      }
    }
  }

  //--- Slider ---
  .slider {
    background: #eee;
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    margin:0;
    padding:0;
    height: 100%;
    width: $w-slider;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .container {
    position:fixed;
    padding: 0 20px;
    height: 100%;
    width: $w-container;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    //filter: blur(1px);
    overflow-x: auto;
  }

  //--- Meal ---
  .meal-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }

  .meal-item-glycemie {
    background: #ccc;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
    font-size: 0.7rem;
    &.sugar-hypo {
      background: $bleu;
    }
    &.sugar-normal {
      background: $vert;
    }
    &.sugar-warning {
      background: $orange;
    }
    &.sugar-hyper {
      background: $rouge;
    }
  }

  .meal-item-title {
    display: inline-block;
    line-height: 36px;
    font-weight: 600;
    margin: 0 0 0 15px;
    padding: 0;
    font-size: .9rem;
    color: #333;
    & a {
      text-decoration: none;
      color: #333;
    }
  }

  .meal-item-date {
    float: right;
    color: #999;
    font-weight: 200;
    font-size: .82rem;
  }

  .user-item {
    border-bottom: 1px solid #eee;
    height: 50px;
    padding: 5px;
    position: relative;
    margin-bottom: 3px;
  }

  .user-item-avatar {
    height: 36px;
    width: auto;
    position: absolute;
    top: 5px;
    left: 0px;
  }

  .user-item-title {
    line-height: 36px;
    margin: 0 0 0 42px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    display: inline-block;
  }

  .user-item-title a {
    text-decoration: none;
    color: #333;
  }

  .user-item-date {
    line-height: 36px;
    float: right;
    margin: 0;
    font-size: .82rem;
    color: #999;
  }
}
