@import "./node_modules/normalize.css/normalize.css";

//--- Variables ---
$w-navigation: 18%;
$w-slider: 50%;
$w-container: 100% - ($w-slider);

$screen: 980px;
$tablette: 768px;
$phone: 480px;

$background: url(../img/wallpaper02.jpg);

$bleu: #2196f3;
$vert: #8bc34a;
$orange: #ffc107;
$rouge: #f44336;
$gris: #333;

//--- Fonts ---
@font-face {
  font-family: 'glucide';
  src: url('../font/glucide.eot?38682624');
  src: url('../font/glucide.eot?38682624#iefix') format('embedded-opentype'),
       url('../font/glucide.woff2?38682624') format('woff2'),
       url('../font/glucide.woff?38682624') format('woff'),
       url('../font/glucide.ttf?38682624') format('truetype'),
       url('../font/glucide.svg?38682624#glucide') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
 font-family: "glucide";
 font-style: normal;
 font-weight: normal;
 speak: none;

 display: inline-block;
 text-decoration: inherit;
 width: 1em;
 margin-right: .2em;
 text-align: center;
 font-variant: normal;
 text-transform: none;
 line-height: 1em;
 margin-left: .2em;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-food:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-params:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-cup:before { content: '\e805'; } /* '' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-fire:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-wallet:before { content: '\e80b'; } /* '' */

.btn {
  padding: 7px 15px;
  background: #eee;
  border-radius: 4px;
  color: #666;
  text-decoration: none;
  font-size: .8rem;
  display: inline-block;
  margin: 10px 0;
  font-weight: 600;
  position: relative;
  &.btn-blue {
    background: $bleu;
    color: #fff;
    &.btn-icon{
      &:before {
        background: darken($bleu, 5%);
        border-right: 1px solid darken($bleu, 8%);
      }
    }
  }
  &.btn-icon{
    margin-left: 40px;
    border-radius: 0 4px 4px 0;
    &:before {
      border-radius: 4px 0 0 4px;
      font-size: 1rem;
      line-height: 2rem;
      text-align: center;
      display: block;
      background: darken(#eee, 5%);
      position: absolute;
      width: 40px;
      left: -40px;
      top: 0;
      bottom: 0;
      border-right: 1px solid darken(#eee, 10%);
    }
  }
}
//--- General ---
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  margin:0;
  padding:0;
}

body {
  background: #fff;
  height: 100%;
  font-size: 14px;
  line-height: 1.3rem;
}

h1 {
  font-weight: 400;
  font-size: 1.6rem;
  color: $gris;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
 font-family: "glucide";
 font-style: normal;
 font-weight: normal;
 speak: none;
 display: inline-block;
 text-decoration: inherit;
 width: 1em;
 margin-right: .2em;
 text-align: center;
 font-variant: normal;
 text-transform: none;
 line-height: 1em;
 margin-left: .2em;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.table-foods {
  width: 100%;
  border-spacing : 0;
  border-collapse : collapse;
  th {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  tr:nth-child(even) {
    background: #eee;
  }
  td {
    padding: 3px 5px;
  }
}

@import "assets/screen";

/* Tablette en paysage / écran moyen */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  body {
    background: $orange;
  }
}
/* Smartphone en paysage /  tablette en portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background: $bleu;
  }
}

body {
  background: $rouge;
}
/* Smartphone en portrait et inférieur */
//@media only screen and (max-width: 480px) { }
